#home {
  #work {
    flex: 1 1 auto;
  }
  .buzz {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .buzzTech {
    width: 100px;
  }
  .icon {
    width: 25px;
    margin-right: 4px;
  }
  .jobs {
    display: flex;
    flex-direction: row;
    > div {
      padding: 6px;
    }

    .company {
      font-weight: bold;
    }
  }
}