#tabbar {
  background-color: #fff;
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  width: 100%;

  @media (min-width: 768px) {
    display: none;
  }

  a, .tab {
    padding: 4px;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    flex: 1 1 auto;
    height: 50px;
  }

  .active {
    border-top: 3px solid black;
  }
}