#app {
  height: 100%;
  width: 100%;
}

#app-body {
  background-color: #eee;
  height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  padding: 0;
  width: 100%;

  .row {
    height: 100%;
    margin: 0;
    width: 100%;
  }
}

#content {
  padding-top: 0.5em;
}